body {
    background: #fff;
    font-family: MPLUSRounded1c;
    color: #282F32;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #282F32;
}
#menu-trigger {
    font-size: 1.7em;
    cursor: pointer;
    height: 70px;
    display: none;
    padding: 0 20px;
    transition: .7s;
}
#menu-trigger:hover {
    background: #eaeaea;
}
.wrapper {
    position: relative;
    overflow: hidden;
}
.small {
    font-size: 14px;
}
.site-header {
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.site-header__logo {
    padding: 0 10px;
}
.site-header__nav {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.site-header__links, .site-header__contacts {
    display: flex;
}
.site-header__contacts > span {
    padding: 0 10px;
}
.site-header__links a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 10px;
    background: #fff;
    transition: .5s;
}
.site-header__links a:hover {
    background: #eaeaea;
}
