@media (max-width: 1000px) {
    #menu-trigger {
        display: flex;
        align-items: center;
    }
    .site-header {
        justify-content: space-between;
        position: relative;
        right: 0;
        transition: .7s;
    }
    .site-header.active {
        right: 250px;
    }
    .container {
        transition: .7s;
    }
    .container.active {
        right: 250px;
    }
    .site-header__nav {
        position: absolute;
        flex-direction: column;
        right: -250px;
        top: 0;
        margin: 0;
        width: 250px;
    }
    .site-header__links, .site-header__contacts {
        flex-direction: column;
        width: 250px;
    }
    .site-header__contacts {
        align-items: center;
        margin: 30px 0;
    }
    .site-header__contacts span {
        margin: 10px 0;
    }
    .hero {
        padding: 0 30px;
    }
    .hero__header, .hero__text {
        max-width: 500px;
    }
    .hero__header {
        font-size: 48px;
    }
    .hero__text {
        font-size: 20px;
        line-height: 24px;
    }
    .art-boxes__item {
        width: calc(100% / 2 - 60px);
    }
    .faq__list {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .faq__item {
        width: 100%;
        margin: 20px 0;
    }
    .delivery__list {
        flex-direction: column;
        align-items: center;
    }
    .delivery__map {
        width: 90%;
    }
    .delivery__items {
        width: 90%;
    }
    .site-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .site-footer > div {
        margin: 25px 0;
    }
}
@media (max-width: 750px) {
    .art-boxes {
        padding: 30px 0;
    }
    .instruction {
        padding: 30px 10px;
    }
    .art-boxes__item {
        width: 100%;
    }
    .art-boxes__item > img {
        height: 300px;
    }
    .instruction__number {
        margin-right: 25px;
        min-width: 50px;
        min-height: 50px;
        width: 50px;
        height: 50px;
        font-size: 1.1em;
    }
    .instruction__item::before {
        content: '';
        width: 3px;
        bottom: 0;
        left: 25px;
    }
    .delivery__map {
        width: 100%;
    }
    .delivery__items {
        width: 100%;
        margin: 20px 0;
    }
    .delivery__item {
        margin: 20px 0;
    }
}